/*body {*/
/*    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1gaSYYCvKS4YPMkFgRVgZskzTaecuvTp8Uw&usqp=CAU");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover ;");*/
/*}*/

/*image {*/
/*    text-align: center;*/
/*    width: auto;*/
/*    height: auto;*/
/*    opacity: 15%;*/

/*}*/

/*img {*/
/*    text-align: center;*/
/*    width: auto;*/
/*    height: auto;*/
/*    opacity: 20%;*/
/*    margin: 0px 100px 0px 100px;*/

/*}*/

body {
    /*background-color: black;*/
}
.css-text-mask {
    text-align: center;
    font-size: 1100px;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    background-image: url('https://m.media-amazon.com/images/I/71hQP+hWN7S._AC_UX679_.jpg" alt="desert scarf');
    background-position: 0px -300px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
}