
html {
    background-color: yellow;
}

header {
    background-color: #5252e0;
    height: 50px;
    text-align: center;
    color: white;
}
h1 {
    color: crimson;
    text-align: center;
}
p {
    color: black;
}
#first {
    font-family: 'Bungee Spice', cursive;
    font-size:100px;
}
#second {
    font-family: 'Permanent Marker', cursive;
    font-size:60px;
    text-shadow: black;
}
#third {
    font-family: 'Paytone One', sans-serif;
    font-size:125px;
}
#fourth {
    font-family: 'Rye', cursive;
    font-size:150px;
}
#fifth {
    font-family: 'Faster One', cursive;
    font-size:175px;
}
#sixth {
    font-family: 'Slackey', cursive;
    font-size:200px;
}
footer {
    background-color: #5252e0 ;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 15px;
}