body {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}
#logo {
    color: #2a2ab4;
    background-color: cyan;
}
nav {
    background-color: yellow;
    height: 250px;
}
article {
    background-color: #6b4f45;
    height: 250px;
}
footer {
    background-color: #4c7ebe;
}