#title {
    font-weight: bold;
}
#nav {
    border: 10px solid crimson;
}
#main {
    border: 10px solid blue;
}
#mid {
    border: 10px solid green;
}
#article {
    border: 10px solid rebeccapurple;
}
#article {
    border: 10px solid yellow;
}