body {
    font-family: 'Bungee Spice', cursive;

}
#logo {
    color: blue;
    background-color: cyan;
}
nav {
    background-color: yellow;
}
article {
    background-color: #6b4f45;
}
footer {
    background-color: #4c7ebe;
}