body {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}
#logo {
    color: #2a2ab4;
    background-color: cyan;
}
nav {
    list-style-type: none;

    background-color: yellow;
    height: 250px;
    width: 500px;
    align-content: center;
}
article {
    background-color: #6b4f45;
    height: 350px;
    align-content: center;

}

img {
    margin-top: 100px;
}
footer {
    background-color: #4c7ebe;
    align-content: center;

}