body {
    background-color: yellow;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

#title {
    font-size: 50px;
    color: #000000;
}

h1 {
    color: #2f2f9b;
    font-size: 200px;

}
h2 {
    color: crimson;
    font-size: 200px;
}
h3 {
    color: green;
    font-size: 200px;
}