#main {
    background-color: beige;
    width: 2000px;
    height: 800px;
}
 #article {
     background-color: cyan;
     width: 2000px;
     height: 700px;
 }
 #summary {
     background-color: orangered;
     width: 2000px;
     height: 700px;
 }