.searchInput {
    margin-left: 500px;
    background-color: #b6b6c4;
}

.main-container {
    border: 15px solid black;
    width: 1325px;
    height: 3750px;
    background-color: #f5e0b2;
    font-family: 'Titan One', cursive;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 75px;
}

.card {
    margin: 10px;
    border: 15px solid #5d5d64;
}

.card-body {
    background-color: #91919b;

}