.main-container {
    border: 5px solid black;
    width: 1400px;
    height: 1000px;
    background-color: cornsilk;
    font-family: 'Titan One', cursive;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 75px;
}

.card-body {
    background-color: blue;

}