html {
    background-color: blue;
}
form {
    margin: 25px;
    text-align: center;
    border: 5px yellow solid;
}
label {
    margin: 5px;
    color: white;
}
input {
    margin: 5px;
    background-color: white;
}
#fname {
    background-color: #00ff0d;

}#lname {
     background-color: #00ff0d;

 }
 #fname1 {
     background-color: yellow;
 }
#lname1 {
    background-color: yellow;
}
#fname2 {
    background-color: #a188c4;
}
#search {
    background-color: cyan;
}
#ok {
    background-color: red;
}
#press {
    border: 1px solid yellow;
    background-color: crimson;
}
#a {
    background-color: #64363e;
}

#b {
    background-color: #64363e;
}

#c {
    background-color: #64363e;
}
#fn {
    background-color: #c7bf1f;
}
#ln {
    background-color: #c7bf1f;
}