.container {
    display: flex;
    justify-content: center;
    border: 3px solid #bebebe;
    margin: 10px 550px;
    padding: 10px;
}

h1 {
    text-align: center;
}

label {
    color: blue;
}

#signup {
    max-width: 600px;
    padding: 5px;
    justify-content: center;
}

input#name {
    color: lightgrey;
}

input#email {
    color: lightgrey;
}

button {
    background-color: blue;
    color: white;
}