@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cabin:ital,wght@1,700&family=Ceviche+One&family=Roboto:wght@900&family=Rowdies:wght@700&display=swap');

.container {
    display: flex;
    justify-content: center;
    border: 3px solid #bebebe;
    margin: 10px 500px;
    padding: 10px;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;

}

h1 {
    text-align: center;
}

label {
    color: black;
}

#signup {
    max-width: 600px;
    padding: 5px;
    justify-content: center;
}

input#name {
    color: lightgrey;
    width: 190px;

}

input#email {
    color: lightgrey;
    width: 190px;
}

button {
    background-color: blue;
    color: white;
    width: 200px;
    margin-bottom: 25px;
}