body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAQ8vikPbB3J2Lr-RfvFRuoZl7Jd8Na_dLSg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover ;
}

image {
    text-align: center;
    width: 100px;
    height: 800px;

}

img {
    text-align: center;
    width: 450px;
    height: 450px;
    opacity: 30%;
    margin: 0px 100px 0px 600px;

}