body {
    background-image: url("https://www.101studiosco.com/user/pages/1923/1923_logo.png");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}
img {
    margin-top: 100px;
    border: 5px solid white;
}