body {
    background-image: url("https://www.101studiosco.com/user/pages/1923/1923_logo.png");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}
img {
    border: 10px double white;
    width: border-box;
    height: border-box;
}