body {
    background-color: black;
}
header {
    color: crimson;
    text-align: center;
    font-size: 80px;
}

main {
    color: purple;
    text-align: center;
    font-size: 25px;
}

footer {
    color: purple;
    text-align: center;
    font-size: 30px;
}