body {
    background-color: black;
    border: 10px solid crimson;
}
header {
    color: crimson;
    text-align: center;
    font-size: 75px;
}

main {
    color: crimson;
    text-align: center;
    font-size: 35px;
}

footer {
    color: crimson;
    text-align: center;
    font-size: 35px;
}