html {
    /*background-color: cornsilk;*/
    background-image: url("https://www.saic.edu/150/sites/default/files/Monopoly.jpg");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: initial;
}