html {
    background-color: cyan;
}

#title {
    object-fit: cover;

}

#cast {
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 5px blue solid;
    margin-top: 10px;
}

main {
    position: center;
}

img {
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 5px orangered solid;
    margin-top: 10px;
    align-items: center;
}
h3 {
    object-fit: cover;
    text-align: center;
    color: blue;
}