body {
    background-color: black;
}

header {
    text-align: center;
    margin-top:50px ;
    color: red;
    font-size: 250px;
}

main {
    text-align: center;
    color: red;
    font-size: 25px;
}


p {
    background-color: red;
}

ul {
    margin: 5px;
    text-align: center;
    color: blue;
    font-size: 25px;
}

img {
    width:  100px;
    height: 100px;
    object-fit: cover;
    align-items: center;
    border: 3px blue solid;
    margin-top: 10px;
}

#bad1 {
    border: 3px red solid;
    color: red;
}

#bad2 {
    border: 3px red solid;
    color: red;
}

#bad3 {
    border: 3px red solid;
    color: red;
}

#bad4 {
    border: 3px red solid;
    color:red;
}

#bad5 {
    border: 3px red solid;
    color: red;
}

#bad6 {
    border: 3px purple solid;
    color: purple;
}

#l {
    color: blue;
}

#l {
    color: blue;
}

footer {
    background-color: red;
}