body {
    background-color: black;
}
header {
    margin-top:50px ;
    color: red;
    font-size: 250px;
}
main {
    color: white;
    margin: 0px 0px -75px 10px;
}
ul {
    color: red;
    font-size: 25px;
}